body
{
    margin: 0px;
    padding: 0px;
}

.topBar
{
    background-color: gray;
    padding: 3px;
}

.topBarButtons
{
    width: 75px;
    height: 35px;
    transition: width 0.4s, height 0.4s, display 0.0s;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 750px)
{
    .topBarButtons
    {
        width: 100%;
        height: 40px;
        display: block;
    }
}

.canvasArea
{
    width: 100%;
    margin: 15px;
}

#animationCanvas
{
    display: block;
    margin: 0px auto;

    border: 1px solid black;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.darkTheme
{
    background-color: #555555;
}

.lightTheme
{
    background-color: #FFFFFF;
}